    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>What is Collectiive?</h2>
                <p>The open source movement is at an inflection point. The number, popularity, and usage of open source software is at an historic high; but the fundamental sustainability of the movement is shaky at best, non-existent at worst.</p>
                <p>Collectiive is a collaborative public effort to search for answers to questions vital to the sustenance of open source.</p>

                <h2>Questions</h2>
                <div class = "questions-list">

                        <p>Can we make the open-source movement self-sustaining ?</p>
                        <p>Can we pay back for the effort of the maintainer and the individual contributor ?</p>
                        <p>How can an entity be incentivised to give back a portion of the value it captures from an open source software back to the open source community ?</p>

                </div>

            </div>
        </div>
    </section>